{% extends "nav2.html" %}
{% block content %}
<h1 style="text-align: center;">About Us</h1>
<p>A college is an educational institution or a constituent part of one.
     A college may be a degree-awarding tertiary educational institution,
      a part of a collegiate or federal university, an institution offering vocational education, 
      a further education institution, or a secondary school.</p>
      
      <img src="/static/images/download.jpg" width="300" height="200">     
      <img src="/static/images/convo.jpg" width="300" height="200">
      <img src="/static/images/stud.jpg" width="300" height="200"> 
      <img src="/static/images/teach.jpg" width="300" height="200">    
{% endblock %}
