{% extends "navbar.html" %}
{% block content %}
<h1 style="text-align: center;"><u>User Details</u></h1>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Address</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Image</th>
        <th scope="col">Contact number</th>
        <th scope="col">Course</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for s in tkey %}
      <tr>
      
        <td>{{s.user.first_name}}</td>
        <td>{{s.user.last_name}}</td>
        <td>{{s.address}}</td>
        <td>{{s.age}}</td>
        <td>{{s.user.email}}</td>
        
        <td>{{s.image}}<img src="{{s.image.url}}" class="w-25"></td>
       
        <td>{{s.number}}</td>
        <td>{{s.c.course_name}}</td>
        <td><a href="{% url 'edit_usermember' s.id %}">edit</a></td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
  <a href="{% url 'userhome' %}"><h1 style="text-align: center;font-size: xx-large;" >Home</h1></a>
  <a href="{% url 'logoutfunction' %}"><h1 style="text-align: center;font-size: xx-large;" >Logout</h1>
  </a></div>
{% endblock %}